<!doctype html>
<html lang="en">

<head>
	<title>CLARA Passwort vergessen</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="description" content="">
	<meta name="author" content="Axel Obermann, Design by Best of Stickers">
	
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/animate-css/vivify.min.css">
	
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="assets/css/site.min.css">
	<link rel="stylesheet" href="assets/css/custom.css">

</head>

<body class="font-montserrat light_version theme-orange">

<!-- Page Loader -->
<div class="page-loader-wrapper">
	<div class="loader">
		<div class="bar1"></div>
		<div class="bar2"></div>
		<div class="bar3"></div>
		<div class="bar4"></div>
		<div class="bar5"></div>
	</div>
</div>

<div class="pattern">
	<span class="orange"></span>
	<span class="orange"></span>
	<span class="orange"></span>
	<span class="orange"></span>
	<span class="orange"></span>
</div>
<div class="auth-main particles_js">
	<div class="auth_div vivify popIn">
		<div class="auth_brand">
			<a class="navbar-brand" href="javascript:void(0);"><img src="/assets/images/ClaraLogo.png"  height="100" class="d-inline-block align-top mr-2" alt=""></a>
		</div>
		<div class="card forgot-pass">
			<div class="body">
				<p class="lead mb-3"><strong>Oops</strong>,<br> etwas vergessen?</p>
				<p>Geben Sie die Email Adresse ein um ein neues Passwort zu erhalten.</p>
				<form method="post">
					<div class="form-group">
						<input type="email" class="form-control round" id="signup-password" placeholder="E-mail adresse">
					</div>
					<button type="submit" class="btn btn-round btn-primary btn-lg btn-block">neues Passwort senden</button>
					<div class="bottom">
						<span class="helper-text">doch wieder eingefallen? <a href="{{ path("app_login") }}">Login</a></span>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="particles-js"></div>
</div>
<!-- END WRAPPER -->

<script src="assets/bundles/libscripts.bundle.js"></script>
<script src="assets/bundles/vendorscripts.bundle.js"></script>
<script src="assets/bundles/mainscripts.bundle.js"></script>
</body>
</html>

