<div class="row">
	<div class="col-xl-3 col-lg-6">
		<a href="" class="clearfix">
			<div class="card p-30 flex-row justify-content-between shadow cp" style="border: 3px solid #ffa800;border-radius: 15px;">
				<div>
					<i class="icon pe-users" aria-hidden="true" style="font-size: 64px;"></i>
				</div>
				<div class="counter counter-md text-left">
					<div class="counter-number-group">
						<span >42</span>
						<span class="counter-number-related text-capitalize">Benutzer</span>
					</div>
					<div class="counter-label text-capitalize font-size-16">im Portal</div>
				</div>
			</div>
		</a>
	</div>
	<div class="col-xl-3 col-lg-6">
		<a href="" class="clearfix">
			<div class="card p-30 flex-row justify-content-between shadow cp" style="border: 3px solid #ffa800;border-radius: 15px;">
				<div>
					<i class="icon pe-safe" aria-hidden="true" style="font-size: 64px"></i>
				</div>
				<div class="counter counter-md text-left">
					<div class="counter-number-group">
						<span >42</span>
						<span class="counter-number-related text-capitalize">Rollen</span>
					</div>
					<div class="counter-label text-capitalize font-size-16">im Portal</div>
				</div>
			</div>
		</a>
	</div>
</div>