<div class="row">
	<a href="" class="clearfix">
		<div class="card p-30 flex-row justify-content-between shadow cp" style="border: 3px solid #ffa800;border-radius: 15px;">
			<div class="info">
				<i class="icon pe-users" aria-hidden="true" style="font-size: 64px;float: left"></i>
			</div>
			<div class="counter counter-md text-left" style="margin-left: 20px;">
				<div class="counter-number-group">
					<span >42</span>
					<span class="counter-number-related text-capitalize">Benutzer</span>
				</div>
				<div class="counter-label text-capitalize font-size-16">im Portal</div>
			</div>
		</div>
	</a>
</div>