<div class="site-gridmenu">
	<div>
		<div>
			<ul>
				<li>
					<a href="">
						<i class="icon md-email"></i>
						<span>Mailbox</span>
					</a>
				</li>
				<li>
					<a href="">
						<i class="icon md-calendar"></i>
						<span>Calendar</span>
					</a>
				</li>
				
				<li>
					<a href="">
						<i class="icon md-receipt"></i>
						<span>Documents</span>
					</a>
				</li>
				
				<li>
					<a href="{{ path("dashboard") }}">
						<i class="icon md-view-dashboard"></i>
						<span>Dashboard</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>