<div class="panel shadow-lg" style="margin-top: 15px;">
	<div class="panel-heading" >
		<h3 class="panel-title text-white">Lieferadresse</h3>
		<div class="panel-actions text-white">
			<a class="panel-action icon wb-minus text-white" data-toggle="panel-collapse" aria-expanded="true" aria-hidden="true"></a>
		</div>
	</div>
	
	<div class="panel-body container-fluid">
		<div class="row row-lg">
			<div class="col-lg-6 col-md-6">
				<div class="form-group-sm">
					<span class="text-help-sm">Firmenname</span>
					<input type="text" name="Firmenname" id="Firmenname" value="" size="50" class="form-control form-control-sm round" placeholder="Firmenname">
				</div>
			</div>
		</div>
		<div class="row row-lg">
			<div class="col-lg-6 col-md-6">
				<div class="form-group">
					<span class="text-help-sm">Anrede</span>
					<input type="text" name="Anrede" id="Anrede" value="" class="form-control form-control-sm round" placeholder="Anrede">
				</div>
			</div>
		</div>
		<div class="row row-lg">
			<div class="col-lg-6 col-md-6">
				<div class="form-group">
					<span class="text-help-sm">Vorname</span>
					<input type="text" name="Vorname" id="Vorname" value="" class="form-control form-control-sm round" placeholder="Vorname">
				</div>
			</div><div class="col-lg-6 col-md-6">
				<div class="form-group">
					<span class="text-help-sm">Nachname</span>
					<input type="text" name="Nachname" id="Nachname" value="" class="form-control form-control-sm round" placeholder="Nachname">
				</div>
			</div>
		</div>
		<div class="row row-lg">
			<div class="col-lg-8 col-md-8">
				<div class="form-group">
					<span class="text-help-sm">Strasse</span>
					<input type="text" name="Strasse" id="Strasse" value="" class="form-control form-control-sm round" placeholder="Strasse">
				</div>
			</div><div class="col-lg-4 col-md-4">
				<div class="form-group">
					<span class="text-help-sm">Hausnummer</span>
					<input type="text" name="Hausnummer" id="Hausnummer" value="" class="form-control form-control-sm round" placeholder="Hausnummer">
				</div>
			</div>
		</div>
		<div class="row row-lg">
			<div class="col-lg-4 col-md-4">
				<div class="form-group">
					<span class="text-help-sm">PLZ</span>
					<input type="text" name="PLZ" id="PLZ" value="" class="form-control form-control-sm round" placeholder="PLZ">
				</div>
			</div><div class="col-lg-8 col-md-8">
				<div class="form-group">
					<span class="text-help-sm">Ort</span>
					<input type="text" name="Ort" id="Ort" value="" class="form-control form-control-sm round" placeholder="Ort">
				</div>
			</div>
		</div>
	</div>
</div>