<div class="panel shadow-lg">
	<div class="panel-heading">
		<h3 class="panel-title text-white">aktueller Versorger</h3>
		<div class="panel-actions text-white">
			<a class="panel-action icon wb-minus text-white" data-toggle="panel-collapse" aria-expanded="true" aria-hidden="true"></a>
		</div>
	</div>
	<div class="panel-body container-fluid">
		<div class="row row-lg">
			<div class="col-lg-6 col-md-6">
				<div class="form-group">
					<span class="text-help-sm">Versorger</span>
					<input type="text" name="Versorger" id="Versorger" value="" class="form-control form-control-sm round" placeholder="Versorger">
				</div>
			</div><div class="col-lg-6 col-md-6">
				<div class="form-group">
					<span class="text-help-sm">Tarifname</span>
					<input type="text" name="Tarifname" id="Tarifname" value="" class="form-control form-control-sm round" placeholder="Tarifname">
				</div>
			</div>
		</div>
		<div class="row row-lg">
			<div class="col-lg-6 col-md-6">
				<div class="form-group">
					<span class="text-help-sm">Tarifnummer</span>
					<input type="text" name="Tarifnummer" id="Tarifnummer" value="" class="form-control form-control-sm round" placeholder="Tarifnummer">
				</div>
			</div><div class="col-lg-6 col-md-6">
				<div class="form-group">
					<span class="text-help-sm">VersKdNr</span>
					<input type="text" name="VersKdNr" id="VersKdNr" value="" class="form-control form-control-sm round" placeholder="VersKdNr">
				</div>
			</div>
		</div>
		<div class="row row-lg">
			<div class="col-lg-6 col-md-6">
				<div class="form-group">
					<span class="text-help-sm">Abschlussprovision</span>
					<input type="text" name="Abschlussprovision" id="Abschlussprovision" value="" class="form-control form-control-sm round" placeholder="Abschlussprovision">
				</div>
			</div><div class="col-lg-6 col-md-6">
				<div class="form-group">
					<span class="text-help-sm">FolgeprovM</span>
					<input type="text" name="FolgeprovM" id="FolgeprovM" value="" class="form-control form-control-sm round" placeholder="FolgeprovM">
				</div>
			</div>
		</div>
		<div class="row row-lg">
			<div class="col-lg-6 col-md-6">
				<div class="form-group">
					<span class="text-help-sm">SpannePKwH</span>
					<input type="text" name="SpannePKwH" id="SpannePKwH" value="" class="form-control form-control-sm round" placeholder="SpannePKwH">
				</div>
			</div>
		</div>
		<div class="row row-lg">
			<div class="col-lg-6 col-md-6">
				<div class="form-group">
					<span class="text-help-sm">AP</span>
					<input type="text" name="AP" id="AP" value="" class="form-control form-control-sm round" placeholder="AP">
				</div>
			</div><div class="col-lg-6 col-md-6">
				<div class="form-group">
					<span class="text-help-sm">GP</span>
					<input type="text" name="GP" id="GP" value="" class="form-control form-control-sm round" placeholder="GP">
				</div>
			</div>
		</div>
		<div class="row row-lg">
			<div class="col-lg-6 col-md-6">
				<div class="form-group">
					<span class="text-help-sm">Vertragsbeginn</span>
					<input type="text" name="Vertragsbeginn" id="Vertragsbeginn" value="" class="form-control form-control-sm round" placeholder="Vertragsbeginn">
				</div>
			</div><div class="col-lg-6 col-md-6">
				<div class="form-group">
					<span class="text-help-sm">Dauer</span>
					<input type="text" name="Dauer" id="Dauer" value="" class="form-control form-control-sm round" placeholder="Dauer">
				</div>
			</div>
		</div>
	</div>
</div>
