<div class="panel shadow-lg">
	<div class="panel-heading">
		<h3 class="panel-title text-white">Zählerdaten</h3>
		<div class="panel-actions text-white">
			<a class="panel-action icon wb-minus text-white" data-toggle="panel-collapse" aria-expanded="true" aria-hidden="true"></a>
		</div>
	</div>
	<div class="panel-body container-fluid">
		<div class="row row-lg">
			<div class="col-lg-6 col-md-6">
				<div class="form-group-sm">
					<span class="text-help-sm">Kundenart</span>
					<input type="text" name="Kundenart" id="Kundenart" value="" size="50" class="form-control form-control-sm round" placeholder="Kundenart">
				</div>
			</div>
		</div>
		<div class="row row-lg">
			<div class="col-lg-6 col-md-6">
				<div class="form-group-sm">
					<span class="text-help-sm">Verbrauch</span>
					<input type="text" name="Verbrauch" id="Verbrauch" value="" size="50" class="form-control form-control-sm round" placeholder="Verbrauch">
				</div>
			</div>
		</div>
		<div class="row row-lg">
			<div class="col-lg-6 col-md-6">
				<div class="form-group-sm">
					<span class="text-help-sm">MaloID</span>
					<input type="text" name="MaloID" id="MaloID" value="" size="50" class="form-control form-control-sm round" placeholder="MaloID">
				</div>
			</div>
		</div>
		<div class="row row-lg">
			<div class="col-lg-6 col-md-6">
				<div class="form-group-sm">
					<span class="text-help-sm">Zaehlernummer</span>
					<input type="text" name="Zaehlernummer" id="Zaehlernummer" value="" size="50" class="form-control form-control-sm round" placeholder="Zaehlernummer">
				</div>
			</div>
		</div>
		<div class="row row-lg">
			<div class="col-lg-6 col-md-6">
				<div class="form-group-sm">
					<span class="text-help-sm">MeloID</span>
					<input type="text" name="MeloID" id="MeloID" value="" size="50" class="form-control form-control-sm round" placeholder="MeloID">
				</div>
			</div>
		</div>
		<div class="row row-lg">
			<div class="col-lg-6 col-md-6">
				<div class="form-group-sm">
					<span class="text-help-sm">Medium</span>
					<input type="text" name="Medium" id="Medium" value="" size="50" class="form-control form-control-sm round" placeholder="Medium">
				</div>
			</div>
		</div>
	</div>
</div>